.docItem__container {
  margin: 80px auto 0;
  max-width: 80%;
}

.docItem__editors {
  padding-bottom: 20px;
  display: inline-block;
}

.comment__list {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
.comment__list-title {
  @include font-size(14);
  font-family: $headline;
}
.comment__list-comment {
  @include font-size(12);
}

.comment__form {
  max-width: 60%;
}

#viewer_iframe {
  border:1px solid gray;
  resize: both;
  width: 100%;
}
